<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="myanza" content="">

  <title>Retos Marcela Yanza</title>

  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="../../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark static-top" style="background-color: #20B05B;">

    <a class="navbar-brand mr-1" href="../../index.html">Retos Bootcamp</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>


    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 1/retoCalculadora.html">Reto 1</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 2/Problema_1_2.html">Reto 2</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 3/Problema_1_3.html">Reto 3</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 4/Proyecto_api.html">Reto 4</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 5/src/factura.html">Reto 5</a>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="Problema_1_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 1</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_2_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 2</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_3_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 3</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_4_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 4</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_5_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 5</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_6_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 6</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_7_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 7</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_8_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 8</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_9_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 9</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_10_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 10</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_11_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 11</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_12_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 12</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_13_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 13</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_14_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 14</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_15_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 15</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_16_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 16</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_17_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 17</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_18_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 18</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <center>
      
          <h1>Problema 16</h1>

          <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Descripción
              </div>
              <div class="card-body">
                <img src="../../img/16-2.JPG" width="50%" height="50%">
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
			
			       <form onsubmit="return false">
                <div>
                    <div>
                    	<label>Horas trabajadas:</label>
                        <input id="horas_ingresadas" type="number" min="0" step="1" required>
                        <br>
                        <br> 
                        <label>Tasa por hora:</label>
                        <input id="tasa_ingresada" type="number" min="0" step="0,1" required>
                        <br>
                        <br>                         
                    </div>
                </div>
                <div>
                    <button onclick="calcular_salario()" type="submit" name="action">Calcular Salario</button>
                    <br>
                    <br>
                </div>
                
                <div id="salario"> </div>

            </form>

        </center>

        
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Bootcamp 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script type="text/javascript">
      
    ocultar_resultado();

	function ocultar_resultado()
	{
		document.getElementById('salario').style.visibility = 'hidden';
		document.getElementById('salario').style.display = 'none';
	}

	function mostrar_resultado()
	{
		document.getElementById('salario').style.visibility = 'visible';
		document.getElementById('salario').style.display = 'block';
	}

	function mostrar_salario(salario_obtenido)
	{
		document.getElementById('salario').innerHTML = 
		'<div class="alert alert-primary" role="alert">' + 
			'<table>' + 
				'<thead>' + 
					'<tr>' + 
						'<th> Salario </th>' +
					'</tr>' + 
				'</thead>' + 
				'<tbody>' + 
					'<tr>' + 
						'<td>' + salario_obtenido + ' pesetas </td>' + 
					'</tr>' + 
				'</tbody>' + 
			'</table>' + 
		'</div>';
	}

    function calcular_salario()
    {
    	var horas_ingresadas = document.getElementById('horas_ingresadas').value;
    	var tasa_ingresada = document.getElementById('tasa_ingresada').value;

    	if(horas_ingresadas && horas_ingresadas > 0 && tasa_ingresada && tasa_ingresada > 0)
    	{
    		var salario, salario_obtenido;
    		if(horas_ingresadas < 38)
    		{
    			salario = horas_ingresadas*tasa_ingresada;
    		}
    		else
    		{
    			horas_ex = horas_ingresadas - 37;
    			salario = (horas_ingresadas - horas_ex)*tasa_ingresada + horas_ex*tasa_ingresada*1.5;	
    		}

    		if(salario <= 50000)
    			salario_obtenido = salario;
    		else
    			salario_obtenido = salario*0.9;
    		mostrar_salario(salario_obtenido);
	    	mostrar_resultado();		    		
    	}
    	else
    		ocultar_resultado();	    			
    }

  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="../../vendor/chart.js/Chart.min.js"></script>
  <script src="../../vendor/datatables/jquery.dataTables.js"></script>
  <script src="../../vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="../../js/demo/datatables-demo.js"></script>
  <script src="../../js/demo/chart-area-demo.js"></script>

</body>

</html>
