<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="myanza" content="">

  <title>Retos Marcela Yanza</title>

  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="../../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark static-top" style="background-color: #20B05B;">

    <a class="navbar-brand mr-1" href="../../index.html">Retos Bootcamp</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>


    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 1/retoCalculadora.html">Reto 1</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 2/Problema_1_2.html">Reto 2</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 3/Problema_1_3.html">Reto 3</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 4/Proyecto_api.html">Reto 4</a>
      </li>
      <li class="nav-item dropdown no-arrow mx-1 active">
        <a class="nav-link" href="../../views/Reto 5/src/factura.html">Reto 5</a>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="Problema_1_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 1</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_2_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 2</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_3_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 3</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_4_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 4</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_5_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 5</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_6_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 6</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_7_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 7</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_8_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 8</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_9_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 9</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_10_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 10</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_11_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 11</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_12_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 12</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_13_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 13</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_14_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 14</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_15_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 15</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_16_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 16</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_17_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 17</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Problema_18_2.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Problema 18</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <center>
      
          <h1>Problema 8</h1>

          <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Descripción
              </div>
              <div class="card-body">
                <img src="../../img/8-2.JPG" width="50%" height="50%">
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
			
			       <form onsubmit="return obtener_numero()">
                <div>
                    <div>
                    	<label>Ingrese un número de tres digitos en palabras y al final de éste un punto (Ejemplo: doscientos veinticinco.): </label>
                        <input id="numero_ingresado" type="text" required>
                        <br>
                        <br>
                    </div>
                </div>
                <div>
                	<br>
                    <button onclick="obtener_numero()" type="submit" name="action">Obtener Número</button>
                    <br>
                    <br>
                </div>
                
                <div id="numero"></div>

            </form>
        </center>

        
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Bootcamp 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script type="text/javascript">
      
    ocultar_resultado();

	function ocultar_resultado()
	{
		document.getElementById('numero').style.visibility = 'hidden';
		document.getElementById('numero').style.display = 'none';
	}

	function mostrar_resultado()
	{
		document.getElementById('numero').style.visibility = 'visible';
		document.getElementById('numero').style.display = 'block';
	}

	function mostrar_numero(numero_obtenido)
	{
		document.getElementById('numero').innerHTML = 
		'<div class="alert alert-primary" role="alert">' + 
			'<table>' + 
				'<thead>' + 
					'<tr>' + 
						'<th>Número resultante</th>' + 
					'</tr>' + 
				'</thead>' + 
				'<tbody>' + 
					'<tr>' + 
						'<td>' + numero_obtenido + '</td>' + 
					'</tr>' + 
				'</tbody>' + 
			'</table>' + 
		'</div>';
	}

	function calcular_numero(numero_ingresado) 
	{
		var centenas = ["cien", "ciento", "doscientos", "trescientos", "cuatroscientos", "quinientos", "seiscientos", "setecientos", "ochocientos", "novecientos"];

		var primeras_decenas = ["diez", "veinte", "treinta", "cuarenta", "cincuenta", "sesenta", "setenta", "ochenta", "noventa"];

		var segundas_decenas = ["once", "doce", "trece", "catorce", "quince"];

		var terceras_decenas = ["dieci", "veinti"];

		var unidades = ["uno", "dos", "tres", "cuatro", "cinco", "seis", "siete", "ocho", "nueve"];

		var obtenido = '';

		var numero = numero_ingresado.substring(0, numero_ingresado.length - 1);

		var split = numero.split(' ');

		if(split.length == 1)
		{
			if(centenas.includes(split[0]) && split[0] != centenas[1])
			{
				var posicion = centenas.indexOf(split[0]);
				if(posicion == 0) posicion = posicion + 1;
				obtenido = posicion + '00';
			}
			else
			{
				obtenido = 'Numero inválido';
			}					
		}
		else
		{
			if(split.length == 2)
			{
				if(centenas.includes(split[0]) && split[0] != centenas[0])
				{
					if(unidades.includes(split[1]))
					{
						var cent = String(centenas.indexOf(split[0]));
						var decen = '0';
						var unid = String( unidades.indexOf(split[1]) + 1);
						obtenido = cent + decen + unid;
					}
					else
					{
						if(primeras_decenas.includes(split[1]))
						{
							var cent = String(centenas.indexOf(split[0]));
							var decen = String(primeras_decenas.indexOf(split[1]) + 1);
							var unid = '0';
							obtenido = cent + decen + unid;
						}
						else
						{
							if(segundas_decenas.includes(split[1]))
							{
								var cent = String(centenas.indexOf(split[0]));
								var decen = '1';
								var unid = String(segundas_decenas.indexOf(split[1]) + 1);
								obtenido = cent + decen + unid;
							}
							else
							{
								if(terceras_decenas.includes(split[1].substring(0,5)) || terceras_decenas.includes(split[1].substring(0,6)))
								{
									var cent = String(centenas.indexOf(split[0]));
									
									if(terceras_decenas.indexOf(split[1].substring(0,5)) == 0)
										var decen = 1
									else
										var decen = 2;

									if(decen == 1)
										var unids = split[1].substring(5, split[1].length);
									else
										var unids = split[1].substring(6, split[1].length);

									if(unidades.includes(unids))
									{
										var unid = String(unidades.indexOf(unids) + 1);
										obtenido = cent + decen + unid;
									}
									else
										obtenido = "Valor inválido";
								}
								else
									obtenido = "Valor inválido";
							}
						}
					}
				}
				else
				{
					obtenido = 'Numero inválido'; 
				}
			}
			else
			{
				if(split.length == 4)
				{
					if(centenas.indexOf(split[0]) != 0 && primeras_decenas.includes(split[1]) && split[1] != primeras_decenas[0] && split[1] != primeras_decenas[1])
					{
						if(split[2] == 'y' && unidades.includes(split[3]))
						{
							var cent = String(centenas.indexOf(split[0]));
							var decen = String(primeras_decenas.indexOf(split[1]) + 1);
							var unid = String(unidades.indexOf(split[3]) + 1);
							obtenido = cent + decen + unid;
						}
						else
							obtenido = 'Numero inválido';
					}
					else
						obtenido = 'Numero inválido';
				}
				else
					obtenido = 'Numero inválido';
			}
		}
		return obtenido;
	}

	function cadenaValida(numero_ingresado)
	{
		var ultimo_caracter = numero_ingresado.substring(numero_ingresado.length - 1);
		if(ultimo_caracter == '.')
			return true;
		return false;
	}

	function obtener_numero() 
	{
	    var numero_ingresado = document.getElementById('numero_ingresado').value;			    

	    if(numero_ingresado)
	    {
	    	if(cadenaValida(numero_ingresado))
	    	{
	    		var numero_minusculas = numero_ingresado.toLowerCase();
	    		var numero_obtenido = calcular_numero(numero_minusculas);
	    		console.log('numero_obtenido =' + numero_obtenido);
	    		mostrar_numero(numero_obtenido);
	    		mostrar_resultado();
	    	}
	    	else
	    	{
	    		document.getElementById('numero').innerHTML = '<p>El número debe terminar con un punto.</p>';
	    		mostrar_resultado();
	    	}		    	
	    	return false;
		}
		else
			ocultar_resultado();
    }

  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>